@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Switzer";
    src: url("../src/assets/WEB/fonts/Switzer-Bold.ttf");
}

@font-face {
    font-family: "SwitzerLight";
    src: url("../src/assets/WEB/fonts/Switzer-Light.ttf");
}

@font-face {
    font-family: "SwitzerBlackItalic";
    src: url("../src/assets/WEB/fonts/Switzer-BlackItalic.ttf");
}

@font-face {
    font-family: "SwitzerLightItalic";
    src: url("../src/assets/WEB/fonts/Switzer-LightItalic.ttf");
}

